<h1 class="main title">Contact Us</h1>
<h2 class="main content">Looking for a second hand bike? then give us a call or drop an email. We will help you to find affordable and great deals</h2>
<p class="body-text">Tel No: +1234567890</p>
<p class="body-text">Email Address: info@bikeberlin.com</p>


