<table>
  <tbody>
    <tr>
      <td><h2>Thanks for your purchase, <%= @name %>!</h2></td>
    </tr>
    <tr>
      <td><p>Your order <%= @product.name %> will be delivered within 5 working days.</p></td>
    </tr>
    <tr>
      <td><p><strong>Your <%= @appname %> Team!</strong></p></td>
    </tr>
  </tbody>
</table>