<h1 class="main title">Orders:</h1>
<div class="container">
  <div class="row">
    <% @orders.each do |order| %>
      <div class="col-sm-2 col-md-4">
        <h3>
          Order # <%= order.id %>
          <%= link_to order.product.name, order.product %>
        </h3>
        <strong>Total: £<%= order.total %></strong>
      </div>
    <% end %>
  </div>
</div>


