// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* { 
  box-sizing: border-box;
  margin: 0; 
  }

html, body { height: 100% }

body {
  background-color: #fffeee;
  padding-top: 0px;
}

.spacing { padding-top: 50px; }

.navbar { background-color: #ccd9ff; }

.navbar a {
  color: #000066;
  font-weight: bold;
  font-size: 20px;
}

.main {
  font-family: Helvetica, "Times New Roman", Georgia, Serif;
  color: #000;
  padding: 10px 0 10px 20px;
}

.title {
  font-size: 30px;
  font-weight: bold;
} 

.home-contect { font-size: 24px; }

.page-wrap {
  min-height: 100%;
  margin-bottom: -60px; 
}

.page-wrap:after {
  content: "";
  display: block;
}

.site-footer, .page-wrap:after { height: 75px; }

.site-footer {
  background-color: #ccd9ff; 
  font-family: Helvetica, "Times New Roman", Georgia, Serif;
  font-size: 18px;
  padding: 20px;
  text-align: center;
}



html, body { height: 100% }

body {
  background-color: #fffeee;
  padding-top: 0px;
}

.navbar { background-color: #ccd9ff; }

.navbar a {
  color: #000066;
  font-weight: bold;
  font-size: 20px;
}

.main {
  font-family: Helvetica, "Times New Roman", Georgia, Serif;
  color: #000;
  padding: 10px 0 10px 20px;
}

.title {
  font-size: 30px;
  font-weight: bold;
  margin-top: 70px;
} 

.home-contect { font-size: 24px; }

.page-wrap {
  min-height: 100%;
  margin-bottom: -75px; 
}

.page-wrap:after {
  content: "";
  display: block;
}

.site-footer, .page-wrap:after { height: 75px; }

.site-footer {
  background-color: #ccd9ff; 
  font-family: Helvetica, "Times New Roman", Georgia, Serif;
  font-size: 18px;
  padding: 20px;
  text-align: center;
}

