<h1 class="main title">Editing Product</h1>

<div>
  <%= render 'form', product: @product %>
</div>

<div class="admin-links">
  <ul class="links-to-pages">
    <li><%= link_to 'Show', @product %></li>
    <li><%= link_to 'Back', products_path %></li>
  </ul>
</div>

